<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/other.css">
  </head>
  <body ng-app="directoryApp">
	<div class="row" id="top">
	<img src = "logo-transparent.png" alt = "logo" width= "200" height= "200"/>
      </div>
    <div class="container" ng-controller="UsersController">
	<h1 align="center">Sign in to your Account</h1>
	<p>&nbsp;</p>
	<form novalidate class="simple-form">
	    <h2>&nbsp;Username</h2><input type="text" ng-model="login.username"/><br/>
	    <h2>&nbsp;Password</h2><input type="password" ng-model="login.password"/><br/>
      <p>&nbsp;</p>
      <div ng-hide="loginFailed" class="isa_error">
        <i class="fa fa-times-circle"></i>
        Error! Incorrect login information
      </div>
            <button class="btn btn-primary" ng-click="adminLogin()">Sign In</button> <!--ng-click="adminLogin()"-->
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
          </form>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/userFactory.js"></script>
    <script src="js/controllers/userController.js"></script>
    <script src="js/factories/listingFactory.js"></script>
  </body>
</html>
