<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/registration.css">
  </head>
  <body ng-app="directoryApp">
	<div class="row" id="top">
	<img src = "logo-transparent.png" alt = "logo" width= "200" height= "200"/>
      </div>
    <div class="container" ng-controller="UserController">
	<h1 align="center">Register</h1>
	<p>&nbsp;</p>
	<form novalidate class="simple-form">
            <h2>&nbsp;User Name</h2><input type="text" ng-model="newUser.userName"/><br/>
	    <h2>&nbsp;Email</h2><input type="text" ng-model="newUser.email"/><br/>
	    <h2>&nbsp;Password</h2><input type="text" ngmodel="newUser.password"/><br/>
	    <h2>&nbsp;Verify Password</h2><input type="text" ng-model="newUser.password2"/><br>
  	    <input type="checkbox"><h4>Passwords Match</h4></br>
	    <p>&nbsp;</p>
            <button class="btn btn-primary" ng-click="addUser()">Create Account</button>
	    <p>&nbsp;</p>
          </form>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/userFactory.js"></script>
    <script src="js/controllers/userController.js"></script>
  </body>
</html>
