<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row" id="top">
	<img src = "logo-transparent.png" alt = "logo" width= "200" height= "200"/>
      </div>
    <div class="container" ng-controller="UsersController">
      <li><a href="/" ng-click="logout()">Logout</a></li>
      <li ng-click="getInfo()">CHECK</li>
      <h1 align = "center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome {{username}} 	  <span style="float:right"> Your cart&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h1>
</div>
<div class="row" ng-controller="ItemsController">
	<h4 align="center"> You may select items from below to place in your cart. </h4>
	<div class="tableWrap">
            <table class="table table-striped table-hover">
              <tr>
                <th width="200">Item</th>
                <th>Price</th>
                <th></th>
              </tr>
              <tr ng-repeat="item in cart | filter: query" ng-click="showDetails($index)">
                <td width="200">{{item.name}}</td>
                <td width="100">${{item.price}}</td>
                <td ng-click="removeFromCart($index, item)"><span style="color: red;" class="glyphicon glyphicon-remove"></span></td>
              </tr>
            </table>
          </div>
	<div class="col-md-6">
          <div ng-if="detailedInfo !== undefined" class="jumbotron">
            <h4><b>Item:</b> {{detailedInfo.name}}</h4>
            <h4><b>Vendor:</b> {{detailedInfo.vendor}}</h4>
            <h4><b>Cost:</b> ${{detailedInfo.price}}</h4>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="query">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th width="450">Item</th>
                <th>Price</th>
                <th></th>
              </tr>
              <tr ng-repeat="item in items | filter: query" ng-click="showDetails($index)">
                <td width="450">{{item.name}}</td>
                <td width="150">${{item.price}}</td>
                <td ng-click="addToCart($index, item)"><span style="color: green;" class="glyphicon glyphicon-plus"></span></td>
              </tr>
            </table>
          </div>
        </div>

	<p>&nbsp;</p>
	<form action='/../../'>
	  <button class="button" style="display: inline; left: 175px" onClick = "openTab(event, 'Cancel Order')" id="cancel">Cancel Order</button>
	</form>
	<!--<form action='/../../'> Will eventually link to checkout page-->
	  <button class="button" style="display: inline; right: 175px" ng-click = "order()" id="checkout">Checkout</button>
	<!--</form>-->
  </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>
    <script src="js/controllers/listingController.js"></script>
    <script src="js/factories/userFactory.js"></script>
    <script src="js/controllers/userController.js"></script>
  </body>
</html>
