#searchBar {
  margin: 0px 200px 15px 80px;
  width: 350px;
  position: absolute;
  top: 75px;
}

#searchBar2 {
  margin: 0px 200px 15px 680px;
  width: 600px;
  position: absolute;
  top: 75px;
}

.tableWrapper {
  position: absolute;
  max-height: 280px;
  overflow: auto;
  width: 600px;
  margin: 0px 200px 0px 680px;
  top: 125px;
}

.tableWrapped {
  position: absolute;
  max-height: 280px;
  overflow: auto;
  width: 350px;
  margin: 0px 200px 0px 80px;
  top: 125px;
}

.simple-form {
  position: absolute;
  top: 150px;
}

#top {
  width: 1538px;
  background-color: orange;
  position: relative;
  margin: 0px 0px 0px -200px;
}

img {
	margin: 0px 0px 0px 175px;
}

h1 {
	position: relative;
}

h3 {
	position: relative;
	text-decoration: underline;
	margin: 20px 0px 10px 400px
}

h4 {
	position: relative;
}

button {
  padding: 10px 18px;
  transition: 0.3s;
  font-size: 17px;
  margin: 10px 0px 0px 0px;
  border: solid;
}

#admin {
  background-color: Orange;
  position: absolute;
}

#vendor {
  background-color: Orange;
  position: absolute;
}

#logout {
  background-color: IndianRed;
  position: absolute;
}
#return {
  background-color: IndianRed;
  position: absolute;
}
